$primary-color: #635041;
$body-background-color: #d1d4df;
$nav-link-color:#ffffff;
$main-background-color: #f1f1f1;
$white-text:#ffffff;
$header-footer-background-color:#332c27;


/* helper CSS */
.whiteText{
	color: $white-text;
}

.mainBackgroundColor{
	background-color: $main-background-color;
}