$body-background-color: #d1d4df;
$nav-link-color:#ffffff;
$main-background-color: #153134;
$white-text:#ffffff;
$header-footer-background-color:#212121;


/* helper CSS */
.whiteText{
	color: $white-text;
}

.mainBackgroundColor{
	background-color: $main-background-color;
}